.layout {
    display: flex;
    height: 100vh;
}

.left-menu-container {
    width: 20%; /* Ширина левого меню */
    background-color: #12192c;
    color: #fff;
    padding: 20px;
}

.content-container {
    width: 80%; /* Оставшаяся ширина для контента */
    padding: 20px;
    overflow: auto;
}
