.carousel-background {
    position: relative;
    width: 75%;
    height: 100vh; /* Висота каруселі на весь екран */
    overflow: hidden; /* Сховати вихідні за межі слайди */
    background-color: #f9f9f9;
}

.carousel-slides {
    display: flex; /* Розташовуємо слайди в ряд */
    width: max-content; /* Залежить від кількості слайдів (3 слайди = 300%) */
    transition: transform 0,5s ease-in-out;  /* Плавний перехід */
}

.slide {
    width: 75%; /* Ширина кожного слайда дорівнює ширині контейнера */
    flex-shrink: 0; /* Не стискається */
}

.carousel-photo {
    width: 75%;
    height: 100vh;
    object-fit: cover; /* Підгонка зображення */
}
