* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic; /* Використання italic для всіх текстів */
    font-size: 16px; /* Базовий розмір шрифту */
  }
  
  body {
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
  }
  
  .carousel-background {
    position: relative;
    width: 75%;
    height: 100vh;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  
  .carousel-slides {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 75%;
    flex-shrink: 0;
  }
  
  .carousel-photo {
    width: 75%;
    height: 100vh;
    object-fit: cover;
  }
  
  .wrapper {
    width: 75%;
    padding: 40px;
    background: #12192c;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    font-size: 18px; /* Основний розмір тексту */
  }
  
  .wrapper header {
    font-size: 20px; /* Збільшений розмір заголовка */
    font-weight: bold;
    color: #fff;
  }
  
  form {
    margin: 30px 0;
  }
  
  form .field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .field .input-area {
    height: 50px;
    position: relative;
  }
  
  form input {
    width: 75%;
    height: 100vh;
    outline: none;
    padding: 0 15px;
    font-size: 16px; /* Використовується 16px для введення */
    font-style: italic;
    background: #f9f9f9;
    color: #12192c;
    border: 2px solid #12192c;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  form input:focus,
  form .field.valid input {
    border-color: #00C9A7;
  }
  
  .input-area .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 18px;
    color: #bfbfbf;
    transform: translateY(-50%);
  }
  
  .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
    font-style: italic;
  }
  
  form input[type="submit"] {
    height: 50px;
    margin-top: 20px;
    color: #fff;
    background: #00C9A7;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-style: italic;
  }
  